.footer {
  padding-top: 39px;

  color: #ffffff;

  background-color: #00122f;
}

/* Footer nav */
.footer .footer-nav {
  float: left;
  min-height: 80px;
  max-height: 165px;
}

.footer .footer-nav-list {
  max-width: 250px;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
  columns: 2;
}

.footer .footer-nav-item {
  margin-bottom: 13px;
  padding: 0;

  list-style-type: none;
}
.footer .footer-nav-item:nth-child(n + 6) {
  margin-left: 7px;
}

/* Footer info */
.footer-info {
  float: left;
  margin-left: 188px;
  padding-top: 22px;
}

.footer-logo {
  display: block;
}

.footer-info .footer-nav-list {
  columns: 1;
}

/* Footer contacts */
.footer-contacts {
  float: right;
  max-width: 250px;
  padding-top: 18px;
  padding-left: 28px;
}

.list-socials {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-socials .social:not(:last-child) {
  margin-right: 16px;
}

.list-socials .social {
  display: inline-block;
}

.list-socials .social-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 20px;

  background-repeat: no-repeat;
  background-position: left center;
}

.list-socials .vk {
  background-image: url("./../img/social/vk.png");
}

.list-socials .fb {
  background-image: url("./../img/social/fb.png");
}

.list-socials .tw {
  background-image: url("./../img/social/tw.png");
}

.list-socials .insta {
  background-image: url("./../img/social/inst.png");
}

.footer-adds {
  margin-top: 36px;

  letter-spacing: -0.025em;
}

.footer-email,
.footer-phone {
  font-style: normal;
  font-size: 18px;

  background-repeat: no-repeat;
  background-position: left center;
}

.footer-phone {
  display: inline-block;
  padding-left: 32px;

  background-image: url("../img/icon-phone.png");
  background-size: 15px 15px;
  border: 0;
}

.footer-email {
  display: inline-block;
  margin-top: 24px;
  padding-left: 32px;

  background-image: url("../img/icon-envelope.png");
  background-size: 13px 10px;
  border: 0;
}

/* Footer rights */
.footer-rights {
  display: block;
  margin-top: 47px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 16px;

  text-align: center;

  border-top: 1px solid #26354e;
}
.footer-rights-text {
  font-size: 13px;
  color: #ebebeb;
}
